@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


:root{
    --accent:rgb(0, 242, 205);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
}

.App{
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
.resume{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Header Box Section */

.HeaderBox{
    background: #1c1c1c;
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.topSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconSection{
    display: flex;
    gap: 2rem;
}

.icon{
    color: var(--accent);
    cursor: pointer;
    transition: 200ms;
}

.icon:active{
    transform: scale(0.8);
}

.bottomSection{
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.link{
    outline: none;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    background: #242424;
    border-radius: 12px;
    transition: 300ms ease-in-out;
    font-family: 'Lobster', cursive;
}

.link > span{
    margin-left: 0.5rem;
    transition: 300ms ease-in-out;
}

.link:hover {
    background: #2e2e2e;
}

.link:hover span{
    color: var(--accent);
}

.link:active{
    transform: scale(0.9);
}

@media(max-width:1340px){
    .HeaderBox{
        width: 100%;
        margin: 0 auto;
    }
}



/* Gradient Section */

.Gradient{
    background: #1c1c1c;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.colorBox{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.color{
  visibility: hidden;
}

#colorPicker1{
    padding: 1rem;
    border-radius: 40px;
    cursor: pointer;
    width: 100%;
    transition: 300ms ease-in-out;
}

#colorPicker2{
    padding: 1rem;
    border-radius: 40px;
    cursor: pointer;
    width: 100%;
    transition: 300ms ease-in-out;
}

#colorPicker1:hover,#colorPicker2:hover{
    transform: scale(1.04);
}

/* Personal Data Form Section */

.PersonalDataForm{
    background: #1c1c1c;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heading{
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Pacifico', cursive;
}

.iconNotClickable{
    color: var(--accent);
}

.fullname{
    display: flex;
    gap: 1rem;
}

.fullname > input{
    color: white;
    width: 100%;
    padding: 1rem;
    background: #292929;
    outline: none;
    border: none;
    border-radius: 14px;
    font-size: 100%;
    transition: 300ms ease-in-out;
}

input{
    color: white;
    padding: 1rem;
    background: #292929;
    outline: none;
    border: none;
    border-radius: 14px;
    font-size: 100%;
    transition: 300ms ease-in-out;
    font-family: 'Kumbh Sans', sans-serif;
}

input:hover,input:focus{
    background:  #2b4a49;
}

#file{
    display: none;
}

#filepicture{
    color: var(--accent);
    padding: 1rem;
    background: #292929;
    border-radius: 14px;
    font-size: 100%;
    cursor: pointer;
    width: 100%;
    transition: 300ms ease-in-out;
}

#filepicture:hover,#filepicture:focus{
    background: #2b4a49;
}

textarea{
    width: 100%;
    color: white;
    padding: 1rem;
    background: #292929;
    outline: none;
    border: none;
    border-radius: 14px;
    font-size: 100%;
    font-family: inherit;
    resize: none;
    transition: 300ms ease-in-out;
}

textarea:focus ,textarea:hover{
    background: #2b4a49;
}

@media(max-width:1340px){
    .PersonalDataForm{
        width: 100%;
        margin: 0 auto;
    }
}

/* Experience Form Section */

.ExperienceForm{
    background: #1c1c1c;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-family: 'Tektur', cursive;
}

.experienceRow{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media(max-width:1340px){
    .ExperienceForm{
        width: 100%;
        margin: 0 auto;
    }
}



/* Education Form Section */

.EducationForm{
    background: #1c1c1c;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media(max-width:1340px){
    .EducationForm{
        width: 100%;
        margin: 0 auto;
    }
}



/* Skills Form Section */

.SkillsSection{
    background: #1c1c1c;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skillRow{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.skillRow > input{
    color: white;
    width: 100%;
    padding: 1rem;
    background: #292929;
    outline: none;
    border: none;
    border-radius: 14px;
    font-size: 100%;
    transition: 300ms ease-in-out;
}

.Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background: #292929;
    color: var(--accent);
    border-radius: 14px;
    padding: 0.5rem;
    width: 15%;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.Btn:hover{
    background: #01f351;
}

.AddSymbol{
    transition: 300ms ease-in-out;
}

.Btn:hover .AddSymbol{
    color: black;
}

.Btn:active{
    transform: scale(0.8);
}

@media(max-width:1340px){
    .SkillsSection{
        width: 100%;
        margin: 0 auto;
    }
}


/* Contact Form Section */

.ContactForm{
    background: #1c1c1c;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactMe{
    display: flex;
    gap: 1rem;
}

.contactMe > input{
    color: white;
    width: 100%;
    padding: 1rem;
    background: #292929;
    outline: none;
    border: none;
    border-radius: 14px;
    font-size: 100%;
    transition: 300ms ease-in-out;
}

input:hover,input:focus{
    background:  #2b4a49;
}

@media(max-width:1340px){
    .ContactForm{
        width: 100%;
        margin: 0 auto;
    }
}

/* Resume Preview */

.ResumePreview{
    height: 29.7cm;
    width: 21cm;
    position: sticky;
    top: 2rem;
    padding: 2rem 5rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 15px;
    word-spacing: 2px;
}

.ResumeTop{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 4px solid black;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgContainer{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    flex-shrink: 0;
}

.imgContainer > img{
    width: 180px;
    height: auto;
    border-radius: 50%;
    border: 4px solid black;
}

.HeadTag{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.HeadTag > h1{
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
}

.HeadTag > span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    font-family: 'Pacifico', cursive;
    max-width: 280px;
}

.ResumeTop > p{
    font-style: italic;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    line-height: 1.1;
}




.ResumeMiddle{
    margin-top: 1rem;
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.ResumeMiddle >h1{
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
}

.experiences{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    word-break: break-all;
}

.experienceContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    word-break: break-all;
}

.workDescription{
    margin-bottom: 20px;
}

.educationSkills{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 2rem;
}

.educationContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 310px;
    word-break: break-all;
}

.skillsContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 320px;
    align-self: flex-start;
}

.skillGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    gap: 10px;
    word-break: break-all;
}

.list{
    background-color: black;
    color: white;
    padding: 0.4rem;
    border-radius: 14px;
    text-align: center;
    font-family: 'Lobster', cursive;
}



.BottomSection{
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.ColumnContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 302px;
}

.sec{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.sec > p{
    word-break: break-all;
}

.logos{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

@media(max-width:1340px){
    .App{
        flex-direction: column;
        gap: 2rem;
    }
    .ResumePreview{
        position: static;
        margin: 0 auto;
    }
}

@media(max-width:870px){
    .ResumePreview{
        flex-shrink: 0;
        transform:  scale(0.9);
        margin: -40px 0px;
        
    }
}

@media(max-width:790px){
    .ResumePreview{
        transform:  scale(0.8);
        margin: -100px 0px;
    }
}

@media(max-width:710px){
    .ResumePreview{
        transform:  scale(0.7);
        margin: -160px 0px;
    }
}

@media(max-width:630px){
    .ResumePreview{
        transform:  scale(0.6);
        margin: -220px 0px;
    }
}

@media(max-width:548px){
    .ResumePreview{
        transform:  scale(0.5);
        margin: -280px 0px;
    }
}

@media(max-width:460px){
    .ResumePreview{
        transform:  scale(0.4);
        margin: -340px 0px;
    }
}

@media(max-width:370px){
    .ResumePreview{
        transform:  scale(0.35);
        margin: -370px 0px;
    }
}

@media print{
    body{
        -webkit-print-color-adjust: exact;
        -moz-print-color-adjust: exact;
        -ms-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}