:root{
    --accent:rgb(0, 242, 205);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
}

.App{
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}
.resume{
    flex: 1;
}

@media(max-width:1340px){
    .App{
        flex-direction: column;
    }
    .fields{
        width: 100%;
    }
    .resume{
        width: 100%;
    }
}
